################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dirtbike.api/.vs/dirtbike.api/FileContentIndex
/dirtbike.api/.vs/dirtbike.api/CopilotIndices/17.14.786.1071/CodeChunks.db
/dirtbike.api/.vs/dirtbike.api/CopilotIndices/17.14.786.1071/CodeChunks.db-shm
/dirtbike.api/.vs/dirtbike.api/CopilotIndices/17.14.786.1071/CodeChunks.db-wal
/dirtbike.api/.vs/dirtbike.api/CopilotIndices/17.14.786.1071/SemanticSymbols.db
/dirtbike.api/.vs/dirtbike.api/CopilotIndices/17.14.786.1071/SemanticSymbols.db-shm
/dirtbike.api/.vs/dirtbike.api/CopilotIndices/17.14.786.1071/SemanticSymbols.db-wal
